{% extends "layout_3_col.html" %}

{% load i18n %}

{% block title %}
    {{ page_title }} | {% trans 'Account' %} | {{ block.super }}
{% endblock %}

{% block body_class %}account-profile{% endblock %}

{% block fluid-breadcrumbs %}
        <div class="column">
      <h1>My Profile</h1>
    </div>
    <div class="column">
    <ul class="breadcrumbs">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
     <li class="separator">&nbsp;</li>
        <li>
            <a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
        </li>

     <li class="separator">&nbsp;</li>

          {% block extra_breadcrumbs %}   <li class="active">{{ page_title }}</li> {% endblock %}
    </ul>
    </div>
{% endblock %}

{% block headertext %}{{ page_title }}{% endblock %}
{% block content_wrapper %}
        <div class="container padding-bottom-3x mb-2">
      <div class="row">

              <div class="col-lg-4">
{% block column_left %}
    <nav class="list-group">
        {% block standard_tabs %}
            {% include 'customer/partials/standard_tabs.html' %}
        {% endblock %}
    </nav>
{% endblock %}
              </div>
        <div class="col-lg-8">

    {% block tabcontent %}{% endblock tabcontent %}

        </div>

      </div>
        </div>




{% endblock  %}
