{% extends "layout_2_col.html" %}
{% load static %}
{% load cache %}

{% block breadcrumbs  %}

    <!-- Page Title-->
    <div class="page-title">
      <div class="container">
        <div class="column">
          <h1>Bitfunx Blog </h1>
        </div>
        <div class="column">
          <ul class="breadcrumbs">
            <li><a href="base.html">Home</a>
            </li>
            <li class="separator">&nbsp;</li>
            <li>Bitfunx Blog</li>
          </ul>
        </div>
      </div>
    </div>
 {% endblock %}

{% block content %}
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
      <div class="row">
        <!-- Blog Posts-->
          {% block blogcontent %}
        <div class="col-lg-9 order-lg-2">

            {% block main %}
            {% endblock %}

          <!-- Pagination-->
        </div>
          {% endblock blogcontent %}
        <!-- Sidebar          -->

        <div class="col-lg-3 order-lg-1">
          <div class="sidebar-toggle position-left"><i class="icon-filter"></i></div>
          <aside class="sidebar sidebar-offcanvas position-left"><span class="sidebar-close"><i class="icon-x"></i></span>
            <!-- Widget Search-->
            <section class="widget">
              <form class="input-group form-group" action='/search/' method="get"><span class="input-group-btn">
                  <button type="submit"><i class="icon-search"></i></button></span>
                <input class="form-control" type="search" name="keyword" placeholder="Search blog" value="{{ keyword }}">
              </form>
            </section>
            <!-- Widget Categories-->
            <section class="widget widget-categories">
              <h3 class="widget-title">Top Categories</h3>
              <ul>
              {% for cate in categories %}
                <li><a href="{% url 'category-list' cate.id %}">{{ cate.name }}</a><span>({{ cate.post_set.all.count }})</span></li>
              {% endfor %}
              </ul>
            </section>
            {% block sidebar %}
            <!-- Widget Featured Posts-->
            {% for sidebar in sidebars %}
            <section class="widget widget-featured-posts">
              <h3 class="widget-title">{{ sidebar.title }}</h3>
              {{ sidebar.content_html }}
           
            </section>
            {% endfor %}

              {% endblock sidebar %}
          </aside>
        </div>

      </div>
    </div>

{% endblock %}