{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}

{% block product_image %}



<div class="product-thumb">
    {% with image=product.primary_image %}
    {% thumbnail image.original "x330" upscale=False as thumb %}
    <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}"
            class="thumbnail"></a>
    {% endthumbnail %}
    {% endwith %}
</div>
{% endblock %}

{% block product_review %}
{% iffeature "reviews" %}
{#<div class="d-inline align-baseline display-3 mr-1">{{ product.rating }}</div>#}
                            <div class="d-inline align-baseline text-sm text-warning mr-1">
                                <div class="rating-stars"><i class="icon-star filled"></i><i
                                        class="icon-star filled"></i><i class="icon-star filled"></i><i
                                        class="icon-star filled"></i><i class="icon-star"></i>
                                </div>
                            </div>
{% endiffeature %}
{% endblock %}

<div class="product-card-body">
    {% block product_title %}
{#    <div class="product-category"><a#}
{#            href="{{ product.categories.last.get_absolute_url }}">sdf{{ product.categories.last }}</a></div>#}
    <h3 style="text-align: center" class="product-title"><a href="{{ product.get_absolute_url }}"
            title="{{ product.get_title }}">{{ product.get_title|truncatewords:4 }}</a></h3>
    {% endblock %}
    {% block product_price %}
    <div class="product_price ">
        {% include "catalogue/partials/stock_record.html" %}

    </div>

    {% endblock %}

</div>
{% if not product.is_parent and not product.has_options %}
{% include "catalogue/partials/add_to_basket_form_compact.html" %}
{% endif %}

{% endblock %}