{% load currency_filters %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}
<h4 class="product-price">
{% if session.price.exists %}

    {% if session.price.excl_tax == 0 %}
      {% trans "Free" %}
    {% elif session.price.is_tax_known %}
       {{ session.price.incl_tax|currency:session.price.currency }}
    {% else %}
        {{ session.price.excl_tax|currency:session.price.currency }}
    {% endif %}
{% else %}
    &nbsp;
{% endif %}
</h4>
<!-- <sapn class="{{ session.availability.code }} availability">
    <i class="icon-{% if session.availability.is_available_to_buy %}ok{% else %}remove{% endif %}"></i>
    {% if verbose %}
        {{ session.availability.message }}
    {% else %}
        {{ session.availability.short_message }}
    {% endif %}
</span> -->
