{% load currency_filters %}
{% load staticfiles %}
{% load category_tags %}
{% load i18n %}

<header class="site-header navbar-sticky">
  <!-- Topbar-->
  <div class="topbar d-flex justify-content-between">

    {% include 'partials/brand.html' %}
    <!-- search manual -->
    <div class="search-box-wrap d-flex">
      <div class="search-box-inner align-self-center">
        <div class="search-box d-flex">
          <div class="btn-group categories-btn">
            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"><i
                class="icon-menu text-lg"></i>&nbsp;Categories</button>
            <div class="dropdown-menu mega-dropdown">
              <div class="row">
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                      class="d-block" src="{% static 'img/shop/header-categories/01.jpg' %}"><span
                      class="text-gray-dark">Computers &amp; Accessories</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                      class="d-block" src="img/shop/header-categories/02.jpg"><span class="text-gray-dark">Smartphones
                      &amp;
                      Tablets</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                      class="d-block" src="img/shop/header-categories/03.jpg"><span class="text-gray-dark">TV, Video
                      &amp;
                      Audio</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                      class="d-block" src="img/shop/header-categories/04.jpg"><span class="text-gray-dark">Cameras,
                      Photo
                      &amp; Video</span></a></div>
              </div>
              <div class="row">
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                      class="d-block" src="img/shop/header-categories/05.jpg"><span
                      class="text-gray-dark">Headphones</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                      class="d-block" src="img/shop/header-categories/06.jpg"><span class="text-gray-dark">Wearable
                      Electronics</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                      class="d-block" src="img/shop/header-categories/07.jpg"><span class="text-gray-dark">Printers
                      &amp;
                      Ink</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                      class="d-block" src="img/shop/header-categories/08.jpg"><span class="text-gray-dark">Video
                      Games</span></a></div>
              </div>
            </div>
          </div>

          <form method="get" action="{% url 'search:search' %}" class="input-group">
            <span class="input-group-btn"><button type="submit"><i class="icon-search"></i></button></span>
            <div>
              {{ search_form.q }}
            </div>
          </form>



        </div>
      </div>
    </div>
    <!-- Toolbar -->
    <div class="toolbar d-flex">
      <div class="toolbar-item visible-on-mobile mobile-menu-toggle"><a href="#">
          <div><i class="icon-menu"></i><span class="text-label">Menu</span></div>
        </a></div>
      <div class="toolbar-item hidden-on-mobile"><a href="#">
          <div><i class="flag-icon"><img src="{% static 'img/flags/EN.png' %}" alt="English"></i><span
              class="text-label">Eng / Usd</span></div>
        </a>
        <ul class="toolbar-dropdown lang-dropdown">
          <li class="px-3 pt-1 pb-2">
            <select class="form-control form-control-sm">
              <option value="usd">$ USD</option>
            </select>
          </li>

        </ul>
      </div>
      <div class="toolbar-item visible-on-mobile"><a href="#">
          <div><i class="icon-user"></i><span class="text-label">Sign</span></div>
        </a>
        <div class="toolbar-dropdown text-center px-3">
          {% if user.is_authenticated %}
          {% block nav_account_navbar_authenticated %}
          <a class="btn btn-secondary btn-sm " href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
          <a id="logout_link" class="btn btn-primary btn-sm "
            href="{% url 'customer:logout' %}">{% trans 'Logout' %}</a>

          {% endblock %}
          {% else %}
          <p class="text-xs mb-3 pt-2">Sign in to your account or register new one to have full control over your
            orders,
            receive bonuses and more.</p>
          <a class="btn btn-primary btn-sm btn-block" href="{% url 'customer:login' %}">Sign In</a>
          <p class="text-xs text-muted mb-2">New customer?&nbsp;<a href="{% url 'customer:login' %}">Register</a></p>
          {% endif %}
          {#              <p class="text-xs mb-3 pt-2">Sign in to your account or register new one to have full control over your orders, receive bonuses and more.</p><a class="btn btn-primary btn-sm btn-block" href="account-login.html">Sign In</a>#}
          {#              <p class="text-xs text-muted mb-2">New customer?&nbsp;<a href="{% url 'customer:register' %}">Register</a></p>#}
        </div>
      </div>
      <div class="toolbar-item ">

        {% include 'partials/mini_basket.html' %}
      </div>

    </div>

    <!-- Mobile Menu-->
    <div class="mobile-menu">
      <!-- Search Box-->
      <div class="mobile-search">
        <form class="input-group" action="{% url 'search:search' %}" method="get">
          <span class="input-group-btn"><button type="submit"><i class="icon-search"></i></button></span>
          <div>
            {{ search_form.q }}
          </div>
        </form>
      </div>

      <!-- Toolbar -->
      <div class="toolbar">
        <div class="toolbar-item"><a href="#">
            <div><i class="flag-icon"><img src="img/flags/EN.png" alt="English"></i><span class="text-label">Eng /
                Usd</span></div>
          </a>
          <ul class="toolbar-dropdown lang-dropdown w-100">
            <li class="px-3 pt-1 pb-2">
              <select class="form-control form-control-sm">
                <option value="usd">$ USD</option>
                <option value="usd">€ EUR</option>
                <option value="usd">£ UKP</option>
                <option value="usd">¥ JPY</option>
              </select>
            </li>
            <li><a href="#"><i class="flag-icon"><img src="img/flags/FR.png" alt="Français"></i>&nbsp;Français</a></li>
            <li><a href="#"><i class="flag-icon"><img src="img/flags/DE.png" alt="Deutsch"></i>&nbsp;Deutsch</a></li>
            <li><a href="#"><i class="flag-icon"><img src="img/flags/IT.png" alt="Italiano"></i>&nbsp;Italiano</a></li>
          </ul>
        </div>
        <div class="toolbar-item"><a href="product-comparison.html">
            <div><span class="compare-icon"><i class="icon-repeat"></i><span class="count-label">3</span></span><span
                class="text-label">Compare</span></div>
          </a></div>
        <div class="toolbar-item"><a href="account-login.html">
            <div><i class="icon-user"></i><span class="text-label">Sign In / Up</span></div>
          </a></div>
      </div>
    </div>
  </div>
  <!-- Navbar-->
  <div class="navbar">
    <div class="navbar">
      <div class="btn-group categories-btn">
        <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"><i
            class="icon-menu text-lg"></i>&nbsp;Categories</button>
        <div class="dropdown-menu mega-dropdown">
          <div class="row">
            <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                  class="d-block" src="img/shop/header-categories/01.jpg"><span class="text-gray-dark">Computers &amp;
                  Accessories</span></a></div>
            <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                  class="d-block" src="img/shop/header-categories/02.jpg"><span class="text-gray-dark">Smartphones &amp;
                  Tablets</span></a></div>
            <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                  class="d-block" src="img/shop/header-categories/03.jpg"><span class="text-gray-dark">TV, Video &amp;
                  Audio</span></a></div>
            <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                  class="d-block" src="img/shop/header-categories/04.jpg"><span class="text-gray-dark">Cameras, Photo
                  &amp; Video</span></a></div>
          </div>
          <div class="row">
            <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                  class="d-block" src="img/shop/header-categories/05.jpg"><span
                  class="text-gray-dark">Headphones</span></a></div>
            <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                  class="d-block" src="img/shop/header-categories/06.jpg"><span class="text-gray-dark">Wearable
                  Electronics</span></a></div>
            <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                  class="d-block" src="img/shop/header-categories/07.jpg"><span class="text-gray-dark">Printers &amp;
                  Ink</span></a></div>
            <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img
                  class="d-block" src="img/shop/header-categories/08.jpg"><span class="text-gray-dark">Video
                  Games</span></a></div>
          </div>
        </div>
      </div>
      <!-- Main Navigation-->
      <nav class="site-menu">
        <ul>
          <li class="has-submenu active"><a href="{{ homepage_url }}">Home</a>

          </li>
          <li class="has-submenu"><a href="{% url 'catalogue:index' %}">Shop</a>

          </li>
          <li class="has-submenu"><a href="{% url 'customer:login' %}">Account</a>
            <ul class="sub-menu">
              <li><a href="{% url 'customer:login' %}">Login / Register</a></li>
                 {% if user.is_authenticated %}
              <li><a href="{% url 'customer:logout' %}">Logout</a></li>
                {% endif %}
{#              <li><a href="account-orders.html">Orders List</a></li>#}
{#              <li><a href="account-wishlist.html">Wishlist</a></li>#}
{#              <li><a href="account-profile.html">Profile Page</a></li>#}
{#              <li><a href="account-address.html">Contact / Shipping Address</a></li>#}
{#              <li><a href="account-tickets.html">My Tickets</a></li>#}
{#              <li><a href="account-single-ticket.html">Single Ticket</a></li>#}
            </ul>
          </li>
          <li class="has-submenu"><a href="{% url 'blog' %}">Blog</a>

          </li>
          <li class="has-submenu"><a href="{% url 'contact_us' %}">Contact us</a>

          </li>

        </ul>
      </nav>


</header>