{% load i18n %}
{% load staticfiles %}
<!-- Main Slider-->


<section>
<div id="slider">
   <div class="slides">
      <!-- First slide -->
      <div class="slider">
         <div class="legend"></div>
         <div class="content">
            <div class="content-txt">
               <h1> Your title </h1>
               <h2> Your description </h2>
            </div>
         </div>
         <div class="images">
            <img src="{% static 'img/hero-slider/06.png' %}">
         </div>
      </div>
      <!-- Second slide -->
      <div class="slider">
         <div class="legend"></div>
         <div class="content">
            <div class="content-txt">
               <h1> Your title </h1>
               <h2> Your description </h2>
            </div>
         </div>
         <div class="images">
              <img src="{% static 'img/hero-slider/07.png' %}">
         </div>
      </div>
      <!-- Third slide -->
      <div class="slider">
         <div class="legend"></div>
         <div class="content">
            <div class="content-txt">
               <h1> Your title </h1>
               <h2> Your description </h2>
            </div>
         </div>
         <div class="images">
               <img src="{% static 'img/hero-slider/08.png' %}">
         </div>
      </div>
      <!-- Fourth slide -->
      <div class="slider">
         <div class="legend"></div>
         <div class="content">
            <div class="content-txt">
               <h1> Your title </h1>
               <h2> Your description </h2>
            </div>
         </div>
         <div class="images">
            <img src="ImagePath/ImageName.jpg">
         </div>
      </div>
   </div>
</div>



</section>