{% extends "base.html" %}
{% load staticfiles %}

{% block layout %}



    <!-- Page Content-->
    <div class="row no-gutters">
      <div class="col-md-6 fh-section" style="background-image: url({% static 'img/coming-soon-bg.jpg' %});"><span class="overlay" style="background-color: #000; opacity: .7;"></span>
        <div class="d-flex flex-column fh-section py-5 px-3 justify-content-between">
          <div class="w-100 text-center">
            <div class="d-inline-block mb-5" style="width: 136px;"><img class="d-block" src="{% static 'img/logo/Bitfunx_Logo.png' %}" alt="Bitfunx"></div>
            <h1 class="text-white text-normal mb-3">Coming Soon...</h1>
            <h6 class="text-white opacity-80 mb-4">Our website is currently under construction. It goes live in:</h6>
            <div class="countdown countdown-inverse" data-date-time="6/30/2019 12:00:00">
              <div class="item">
                <div class="days">00</div><span class="days_ref">Days</span>
              </div>
              <div class="item">
                <div class="hours">00</div><span class="hours_ref">Hours</span>
              </div>
              <div class="item">
                <div class="minutes">00</div><span class="minutes_ref">Mins</span>
              </div>
              <div class="item">
                <div class="seconds">00</div><span class="seconds_ref">Secs</span>
              </div>
            </div>
            <div class="pt-3 hidden-md-up"><a class="btn btn-primary scroll-to" href="#notify"><i class="icon-bell"></i>&nbsp;Notify Me!</a></div>
          </div>
          <div class="w-100 text-center">
            <a class="navi-link-light" href="mailto:support@unishop.com">support@bitfunx.com</a>
            <div class="pt-3"><a class="social-button shape-circle sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-button shape-circle sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-button shape-circle sb-instagram sb-light-skin" href="#"><i class="socicon-instagram"></i></a><a class="social-button shape-circle sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 fh-section" id="notify" data-offset-top="-1">
        <div class="d-flex flex-column fh-section py-5 px-3 justify-content-center align-items-center">
          <div class="text-center" style="max-width: 500px;">
            <div class="h1 text-normal mb-3">Send Email Success!</div>
            <h6 class="text-muted mb-4">Thank you very much, We will reply you in 24 hours.</h6>
          </div>
        </div>
      </div>
    </div>
{% endblock  %}