{% extends "layout_2_col.html" %}
{% load i18n %}
{% load staticfiles %}

    {% block styles %}
        {{ block.super}}

<link rel="stylesheet" type="text/css" href="{% static 'css/silder.css' %}">

{% endblock %}

{% block silder %}
{% include 'partials/slider.html' %}
{% endblock %}


{% block topCategory %}
    {% include 'partials/topcategory.html' %}
{% endblock %}
{% block featured %}
{% include 'partials/featured.html' %}
{% endblock %}
{% block column_left %}
{% endblock %}

{% block content %}


{% endblock content %}
