{% load reviews_tags %}
{% load i18n %}

{% if product.rating != None %}
    <div class="text-left">
                            <div class="d-inline align-baseline display-3 mr-1">{{ product.rating }}</div>
                           <div class="d-inline align-baseline text-sm text-warning mr-1">
                                <div class="rating-stars">
                                    <i class="icon-star {% if product.rating > 0 %}filled {% endif %}"></i>
                                    <i class="icon-star {% if product.rating > 1 %}filled {% endif %}"></i>
                                    <i class="icon-star {% if product.rating > 2 %}filled {% endif %}"></i>
                                    <i class="icon-star {% if product.rating > 3 %}filled {% endif %}"></i>
                                    <i class="icon-star"{% if product.rating > 4 %}filled {% endif %}></i>
                                </div>
                            </div>

        <small><a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}">
                {% blocktrans count product.num_approved_reviews as num_reviews %}
                    {{ num_reviews }} customer review
                {% plural %}
                    {{ num_reviews }} customer reviews
                {% endblocktrans %}
        </a></small>
        &nbsp;
{% else %}
    <p>
{% endif %}

{% if product|is_review_permitted:user %}
    <a id="write_review" href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview" class="btn btn-success btn-sm">
        {% trans "Write a review" %}
    </a>
{% endif %}
</p>
  </div>