{% load i18n %}
{% load display_tags %}

<a class="list-group-item with-badge {% if active_tab == 'profile' %} active {% endif %} "  href="{% url 'customer:profile-view' %}" ><i class="icon-user"></i>
  {% trans "Profile" %}
</a>

<a href="{% url 'customer:order-list' %}" class="list-group-item {% if active_tab == 'orders' %} active {% endif %} "><i class="icon-shopping-bag"></i> {% trans "Order History" %}</a>


    <a href="{% url 'customer:address-list' %}"  class="list-group-item {% if active_tab == 'addresses' %} active {% endif %} "><i class="icon-map"></i> {% trans "Address Book" %}</a>


    <a href="{% url 'customer:email-list' %}"  class="list-group-item {% if active_tab == 'emails' %} active {% endif %} "><i class="icon-mail"></i> {% trans "Email History" %}</a>

    <a href="{% url 'customer:alerts-list' %}" class="list-group-item {% if active_tab == 'alerts' %} active {% endif %} "><i class="icon-clock"></i> {% trans "Product Alerts" %}</a>


    <a href="{% url 'customer:notifications-inbox' %}"  class="list-group-item {% if active_tab == 'notifications' %} active {% endif %} " ><i class="icon-info"></i> {% trans "Notifications" %}</a>

{% iffeature 'wishlists' %}

        <a href="{% url 'customer:wishlists-list' %}"  class="list-group-item {% if active_tab == 'wishlists' %} active {% endif %} "><i class="icon-heart"></i> {% trans "Wish Lists" %}</a>

{% endiffeature %}