{% extends "layout.html" %}
{% load promotion_tags %}
{% load staticfiles %}
{% comment %}
Keep the same header and footer as the standard layout template but override the 
main content area to split it into a sidebar and a content block
{% endcomment %}


{% block breadcrumbs %}


{% endblock %}

{% block content_wrapper %}


    {% block silder %}

    {% endblock %}
{% block topCategory %} {% endblock %}
{% block featured %} {% endblock %}
    {% block content %}{% endblock %}
{# Local scripts #}
{% block scripts %}



           <script src="{% static 'js/vendor.min.js' %}"></script>
            <script src="{% static 'js/scripts.min.js' %}"></script>
<!-- Twitter Bootstrap -->

{% endblock %}

{% endblock %}
