{% load i18n %}
{% load currency_filters %}
<div class="form-inline text-right">
<div>
    {% if basket.is_empty %}
        {% trans "Your basket is now empty" %}
    {% else %}
        {% if basket.is_tax_known %}
            {% blocktrans with total=basket.total_incl_tax|currency:basket.currency %}
            Your basket total is now <strong>{{ total }}</strong>
            {% endblocktrans %}
        {% else %}
            {% blocktrans with total=basket.total_excl_tax|currency:basket.currency %}
            Your basket total is now <strong>{{ total }}</strong>
            {% endblocktrans %}
        {% endif %}
    {% endif %}
</div>

{% if include_buttons %}
<div>
    <a href="{% url 'basket:summary' %}" class="btn btn-info text-white">{% trans "View basket" %}</a>
    <a href="{% url 'checkout:index' %}" class="btn btn-danger text-white">{% trans "Checkout now" %}</a>
</div>
{% endif %}

</div>
